/********************
YOUR STYLES
*******************/

h1{
    color: #9FBFA1;
    font-family: "Bebas Neue", sans-seif;
    letter-spacing: .04em;
}
html{
     background-image: url(../img/mooning.png);
    
}
.main{
    background-color: #efefef;
    min-height: 40em;
    display: block;
    width: 75%;
    margin: auto;
    
  
   
}

footnote{
    font-size: .75em;
    color: #EA6459;
}

.logo{
    z-index: 999;
    position: fixed;
    display: inline;
    max-width: 10em;
    min-width: 3em;
    margin-left: 10em;
    float: left;

}

.bodyText{
    padding-top: 5em;
    margin: auto;
    width: 55%; 
}

.me{
    max-width: 15em;
    float: left;
    padding: 10em;
    padding-right: 5em;
    
}

.resume{
    margin-bottom:1em;
    /*box-shadow: 9px 10px 10px .012px #c0c0c0;*/
    border: 2px dashed #EA6459;
    display: inline;
    width:67%;
    padding-right: 3em;
    
}

 .resume2{
    max-width: 15em;
    display: block;
    float: right;
    margin-top: .5em;
    margin-bottom:.5em;
    margin-left: 1em;
    display:inline;
}

resume2 hr{
    margin-top: none;
}

hr{
   border-color: #EA6459;
    margin-top: 2em;
    margin-bottom: 0;
    border-style: dashed;
}

icons{
    margin-left: 4em;
}
.footer img{
    margin-left: 1em;
}

button{
    height: 2em;
    padding: .5em;
    border-radius: .3em;
    margin-top: 0;
    margin-bottom: 3em;
    background-color: #EA6459;
    border:none;
    display: block;
    color:white;
    
}
a {
    text-decoration: none;
}
button:hover{
    background: #DD5952;
}


/************************
BIO Major Lists
************************/

.bio li{
  
    list-style: none;
}

/************
NAV
************/

.nav{
    background: hsla(202, 44%, 50%, 1);
    text-align: right;
    color: white;
    padding: .05em;
    position: fixed;
    width: 100%;


}

.nav ul{
    padding-right: 3em;
}

.nav li{
    display: inline;
}

.nav li a:link, a:visited{
    display: inline;
    font-family: bonvenocflight;
    color: white;
    text-decoration: none;
    font-size:1.09em;
}

.nav li a:hover{
    display: inline;
    color:hsla(208, 26%, 36%, 1);
    -webkit-transition: all .32s;
    
}


/************************
FOOTER
************************/

.footer{
    background: hsla(202, 44%, 50%, 1);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 2em;
    padding: .32em;
}

.footer img{
    width: 35px;
}

.footer h1{
    color: white;
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    float:right;
    margin-right: 2em;
    font-size: 1em;
}
/********************
POSSIBLE FONTS
********************/
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bonvenocflight';
    src: url('../fonts/BonvenoCF-Light-webfont.eot');
    src: url('../fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BonvenoCF-Light-webfont.woff') format('woff'),
         url('../fonts/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('../fonts/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 900px) {

}
/* Tablet */
@media (min-width: 768px) {

}
@media (max-width: 768px) {
    .logo{
        display: none;
    }

}
/* Mobile */
@media (min-width: 480px) {
    
    }
}